/* Variables */

:root {
  --basic-white: #fff;
  --bkgr-green: #849d8f;
  --basic-black: #323232;
  --basic-extra-dark: #5a5a5a;
  --basic-extra-white: #f8f7f4;
  --light-grey: #999;
  --bkgr-blue: #8996a6;
  --bkgr-grown: #9d8b84;
  --basic-pink: #fbded7;
  --basic-orange-light: #f6b5a5;
  --basic-orange-extra: #ffbc9e;
  --link-white: #ededed;
  --shadow-active: #696969;
  --bkgr-catalog: #d07058;
  --basket-black: #343434;
  --basket-orange: #e84d37;
  --gradient-orange-light: #f26843;
  --gradient-orange: #e74a35;
  --shadow-button: #ac1000;
  --shadow-transparent-button: rgba(172, 16, 0, 0.64);
  --text-transparent-button: rgba(160, 32, 11, 0.76);
  --shadow-button-active: #942718;
  --crimson-bkgr: #760013;
  --chocolate-bkgr: #311a10;
  --seo-bkgr: #efe4cc;
  --basalt-grey: #999999;
  --contact-bkgr: #fefefe;
  --input-border: #d3d3d2;
  --item-color: #ababab;
  --white-very-transparent: rgba(255, 255, 255, 0.2);
  --white-transparent-slider: rgba(255, 255, 255, 0.4);
  --white-transparent-social: rgba(255, 255, 255, 0.5);
  --black-transparent-button: rgba(0, 0, 0, 0.07);
  --black-transparent: rgba(0, 0, 0, 0.2);
  --grey-transparent: rgba(178, 178, 178, 0.52);
  --blue-transparent: rgba(46, 136, 228, 0.52);
  --grown-transparent: rgba(255, 188, 158, 0.3);
  --modal-transparent: rgba(0, 0, 0, 0.4);
  --login-transparent: rgba(50, 50, 50, 0.3);
  --overlay-color: rgba(0, 0, 0, 0.3);
  --price-range-scale-color: rgba(248, 247, 244, 0.5);
  --basket-light-grey: #c4c4c4;
  --basket-grey: CACAC7;
}

/* Fonts */

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium") url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
}

.page-body {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--bkgr-green);
  background-repeat: no-repeat;
  background-position: top center;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.site-wrapper-1 {
  background: var(--bkgr-green) url(../img/highlight-s-1.png) center top
    no-repeat;
}

.site-wrapper-2 {
  background: var(--bkgr-blue) url(../img/highlight-s-2.png) center top
    no-repeat;
}

.site-wrapper-3 {
  background: var(--bkgr-grown) url(../img/highlight-s-3.png) center top
    no-repeat;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.list-hidden {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  font-size: 16px;
  line-height: 18px;
  padding-top: 10px;
  margin-bottom: 70px;
}

/* grid */

.visually-hidden {
  display: none;
}

.inner-page,
.main-header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  align-items: center;
  max-width: 1200px;
  min-height: 65px;
}

.main-header-logo {
  margin-right: 11px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 7px;
}

.nav-link {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding: 6px 13px;
  font-weight: 700;
  margin-bottom: 5px;
}

/*
.base-link {
  text-decoration: 1px solid rgba(255, 255, 255, 0.2);
}
*/
.nav-link:hover,
.nav-link:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 26px;
}

.nav-link:active {
  background: var(--link-white);
  box-shadow: inset 0px 2px 1px var(--shadow-active);
}
.nav-item:hover .dropdown-list,
.nav-item:focus-within .dropdown-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--basic-white);
  width: 145px;
  box-shadow: 0px 20px 20px var(--modal-transparent);
  font-weight: 400;
  border-radius: 4px;
  transition: all 0.1s;
  padding: 2px 0 7px;
  margin: 0%;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 37px;
  left: -8px;
  width: 143px;
  background: var(--basic-white);
  box-shadow: 0px 20px 20px var(--modal-transparent);
  border-radius: 4px;
  transition: all 0.1s;
  z-index: 1;
  margin: 0;
  padding: 2px 0 7px;
  color: var(--basic-black);
}

.dropdown-list::before {
  position: absolute;
  top: 65px;
  left: 220px;
  transform: translateX(-50%);
  width: 128px;
  height: 1px;
  background-color: var(--basic-black);
  opacity: 0.2;
}

.dropdown-link {
  display: flex;
  align-items: center;
  padding: 7px 19px 7px 22px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
}

.new-link {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 18px;
}

.dropdown-link:hover,
.dropdown-link:focus {
  background: var(--basic-pink);
}

.dropdown-link:active {
  background: var(--basic-orange-light);
}

.catalog-active {
  background: var(--bkgr-catalog);
  border-radius: 26px;
}

/* User */

.user-nav {
  grid-column: 3/ 4;
  grid-row: 1/ 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin: 0;
  padding: 0;
  align-items: center;
  padding-bottom: 5px;
}

.user-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--white-very-transparent);
  border: none;
  color: var(--basic-white);
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 7px 16px;
  margin-right: 10px;
  max-width: 350px;
  max-height: 32px;
}

.user-search {
  padding: 8px;
}

.user-basket {
  margin: 0;
}

.user-btn:last-child {
  margin-right: 0;
}

.user-btn:disabled {
  background-color: var(--white-very-transparent);
  color: var(--basic-white);
  fill: var(--basic-white);
  cursor: default;
}

.user-btn svg {
  vertical-align: middle;
}

.user-btn span {
  vertical-align: middle;
  margin-left: 8px;
}

.user-btn:hover,
.user-btn:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user-btn:hover path,
.user-btn:focus path {
  fill: var(--basic-black);
}

.basket-active {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.basket-active path:first-child {
  fill: var(--basket-black);
}

.basket-active path:last-child {
  fill-opacity: 1;
}

.basket-active:hover path:last-child,
.basket-active:focus path:last-child {
  fill: var(--basket-orange);
}

.info {
  grid-column: 3/ 4;
  grid-row: 1/ 2;
  margin-bottom: -115px;
  justify-content: flex-end;
  display: flex;
  background-color: transparent;
  justify-self: end;
}

.info p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 50px;
  max-width: 175px;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.info-time {
  font-size: 14px;
  line-height: 16px;
  margin-left: auto;
  margin-bottom: 8px;
}

.info-phone {
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.info a:hover,
.info a:focus {
  color: var(--basic-orange-extra);
}

.page-catalog {
  display: grid;
  grid-template-rows: min-content auto 1fr;
}

/* slider */

.slider {
  position: relative;
}

.slider-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 564px;
}

.slider-item {
  display: none;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}

.slide-current {
  display: flex;
  text-align: center;
}

.slide-current {
  display: flex;
}

.slide-image {
  position: absolute;
  top: 0;
  max-width: 100%;
  object-fit: cover;
  z-index: -1;
}

.slide-title {
  width: 700px;
  margin: 0 auto 28px;
  font-size: 60px;
  line-height: 60px;
}

.slider-controls {
  position: absolute;
  top: 520px;
  left: 0;
}

.slider-btn {
  width: 21px;
  height: 21px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background: none;
}

.slider-btn:not(:last-child) {
  margin-right: 5px;
}

.slider-btn:hover,
.slider-btn:focus {
  background: var(--white-transparent-slider);
}

.slider-btn:active,
.slider-btn-current,
.slider-btn-current:hover {
  background-color: var(--basic-white);
  cursor: default;
}

/* Button */

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: baseline;
  background: linear-gradient(
    180deg,
    var(--gradient-orange-light) 0%,
    var(--gradient-orange) 100%
  );
  box-shadow: 0px 2px 2px var(--shadow-transparent-button);
  border-radius: 70px;
  border: none;
  text-shadow: 0px 2px 5px var(--text-transparent-button);
  min-height: 44px;
  min-width: 100px;
}

.button:hover,
.button:focus {
  background: linear-gradient(
      0deg,
      var(--white-very-transparent),
      var(--white-very-transparent)
    ),
    linear-gradient(
      180deg,
      var(--gradient-orange-light) 0%,
      var(--gradient-orange) 100%
    );
  box-shadow: 0px 1px 2px var(--shadow-button);
}

.button:active {
  background: linear-gradient(
      0deg,
      var(--black-transparent-button),
      var(--black-transparent-button)
    ),
    linear-gradient(
      180deg,
      var(--gradient-orange-light) 0%,
      var(--gradient-orange) 100%
    );
  box-shadow: inset 0px 2px 2px var(--shadow-button-active);
}

.slide-button {
  padding: 9px 30px;
  max-width: 500px;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

.slide-button:hover,
.slide-button:focus {
  box-shadow: 0px 2px 2px var(--shadow-button);
}

/* Sale */

.main-sale {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sale-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  row-gap: 26px;
  margin: 0;
  padding: 0;
}

.sale-crimson {
  grid-column: 1 /2;
  background: var(--crimson-bkgr) url("../img/Crimson_bkgr.jpg") center
    center/cover no-repeat;
}

.sale-chocolate {
  grid-column: 2 /3;
  background: var(--chocolate-bkgr) url("../img/chocolate_bkgr.jpg") center
    center/cover no-repeat;
}

.sale-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 16px;
  padding: 16px 16px 22px 22px;
}

.sale-title {
  grid-column: 1 / 3;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
}

.sale-text {
  grid-column: 1 / 3;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  line-height: 22px;
}

.sale-btn {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-self: end;
  padding: 14px 22px;
  max-height: 48px;
}

/* Hits */

.main-catalogs {
  margin-bottom: 40px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 36px;
  margin: 0 -13px;
  padding: 0;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-item:before {
  display: none;
  content: "";
  position: absolute;
  width: 293px;
  height: calc(100% + 76px);
  border-radius: 4px;
  top: -6px;
  background: var(--white-very-transparent);
  box-shadow: 0 20px 20px var(--black-transparent);
  z-index: 1;
  transition: all 0.1s;
}

.catalog-item:hover:before,
.catalog-item:focus-within:before,
.catalog-item:hover .catalog-button,
.catalog-item:focus-within .catalog-button {
  display: block;
}

.catalog-item:hover .catalog-content,
.catalog-item:hover .catalog-name {
  z-index: 2;
}

.catalog-content {
  position: relative;
}

.catalog-img {
  width: 100%;
  max-width: 267px;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--basic-extra-dark) 267 267;
}

.catalog-label {
  position: absolute;
  width: 61px;
  height: 61px;
  padding: 17px 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.catalog-cost {
  text-align: left;
  margin: -50px 0 0;
  font-weight: 700;
  font-size: 45px;
  color: var(--basic-white);
  text-shadow: 0 1px 3px var(--price-transparent);
}

.catalog-cost .unit {
  font-size: 30px;
}

.catalog-cost .currency {
  font-size: 44px;
  margin-left: 5px;
}

.catalog-name {
  margin: 25px 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
  cursor: pointer;
  z-index: 2;
}

.catalog-link:hover,
.catalog-link:active,
.catalog-link:focus {
  color: var(---orange-extra);
}

.catalog-button {
  display: none;
  position: absolute;
  bottom: -55px;
  border-radius: 50px;
  z-index: 1;
  padding: 12px 16px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  margin-bottom: 28px;
}

.pagination-list {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.pagination-item {
  margin: 0 4px 4px 0;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  padding: 4px 8px;
  border-radius: 50%;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: var(--white-very-transparent);
}
.pagination-link:active,
.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.pagination-link-current {
  cursor: default;
}

.pagination-btn {
  align-self: center;
  justify-self: center;
  padding: 4px 8px;
  display: flex;
  background: none;
  border: none;
  cursor: default;
}

.pagination-btn-prev {
  margin-right: 8px;
}

.pagination-btn-next {
  margin-left: 10px;
}

.pagination-btn:disabled path {
  fill-opacity: 0.2;
  background: transparent;
  cursor: default;
}

/* CEO */

.seo {
  margin-bottom: 40px;
}

.seo-wrapper {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-image: url(../img/pattern.jpg);
  background-color: var(--seo-bkgr);
  background-position: center;
  border-radius: 16px;
  color: var(--basic-black);
  padding: 24px 20px 30px 21px;
}

.seo-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0 0 7px;
}

.seo-list {
  display: grid;
  grid-template: repeat(2, min-content) / repeat(2, 1fr);
  column-gap: 26px;
  row-gap: 13px;
  padding: 0;
  margin: 0;
}

.seo-item {
  display: flex;
}

.seo-img {
  margin-right: 6px;
  flex-shrink: 0;
}

.seo-descr {
  margin: 9px 0 0;
}

/* Blog */

.index-columns {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  row-gap: 26px;
}

.new-blog {
  background: var(--basic-white) url(../img/Strawberry_bkgr.jpg) center
    center/cover no-repeat;
  border-radius: 16px;
  padding: 20px;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-title {
  margin: 0 0 4px;
}

.new-blog p {
  margin: 0;
  max-width: 280px;
}

.blog-link {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.blog-link:hover,
.blog-link:focus {
  color: var(--basket-orange);
}

/* Subscribe */

.subscribe {
  background: var(--basic-extra-white) url(../img/mail_bkgr.jpg) center
    center/cover no-repeat;
  border-radius: 16px;
  padding: 5px 6px;
  color: var(--basic-extra-dark);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscribe-wrapper {
  background: var(--basic-extra-white);
  height: 100%;
  border-radius: 16px;
  padding: 24px 20px 36px 21px;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 40px;
}

.mail-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-subscribe {
  height: 44px;
}

.input {
  background-color: var(--basic-white);
  border: 1px solid var(--grey-transparent);
  box-sizing: border-box;
  height: 44px;
  border-radius: 4px;
  padding: 13px;
}

.input:hover {
  border: 2px solid var(--grey-transparent);
}

.input:focus {
  border: 2px solid var(--blue-transparent);
}

.input::placeholder {
  color: var(--basalt-grey);
  font-size: 16px;
  line-height: 20px;
}

.input-subscribe {
  line-height: 24px;
  border-radius: 6px;
  margin-right: 10px;
  flex-grow: 7;
}

.subscribe-btn {
  padding: 14px 19px;
  max-width: 260px;
  flex-grow: 1;
}

.map {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  z-index: 2;
}

.contacts {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 32px 25px;
  background-color: var(--contact-bkgr);
  width: 304px;
  min-height: 300px;
  top: 62px;
  right: 0;
  border-radius: 16px;
  color: var(--basic-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts-address {
  margin: 0;
}

.contacts-street {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  margin: 0;
  margin-bottom: 27px;
}

.contacts-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--basket-orange);
}

.contacts-btn {
  padding: 13px 28px;
}

.map-container {
  position: relative;
  min-height: 430px;
  z-index: 1;
}

/* Footer */

.main-footer {
  padding-top: 18px;
  padding-bottom: 25px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.main-footer .container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social {
  width: 180px;
  margin: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
  padding: 0;
}

.social-item {
  margin-right: 8px;
}

.social-button {
  display: flex;
  border: 2px solid var(--white-transparent-social);
  border-radius: 50%;
}

.social-item span {
  display: none;
}

.social-button:hover path,
.social-button:focus path {
  fill-opacity: 1;
}

.footer-menu {
  width: 330px;
  justify-self: center;
  padding-top: 14px;
  padding-left: 26px;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 32px;
  row-gap: 5px;
  padding: 0;
  margin: 0;
}

.menu-item {
  position: relative;
  max-width: 170px;
}

.menu-item a {
  border-bottom: 1px solid var(--white-very-transparent);
}

.menu-item-heart {
  font-weight: 700;
}

.menu-item-heart::before {
  content: "";
  position: absolute;
  left: -22px;
  width: 15px;
  height: 13px;
  background: url(../img/svg/heart.svg);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--basic-orange-extra);
  border-bottom: 1px solid var(--grown-transparent);
}

.footer-academy {
  max-width: 200px;
  margin: 0;
  justify-self: end;
}

.academy-logo {
  display: flex;
  margin-bottom: 9px;
}

.academy-text {
  font-size: 12px;
  margin: 0;
}

.academy-link {
  border-bottom: 1px solid var(--white-very-transparent);
}

.academy-link:hover,
.academy-link:focus {
  color: var(--basic-orange-extra);
  border-bottom: 1px solid var(--grown-transparent);
}

.modal {
  background: var(--basic-extra-white);
  color: var(--basic-black);
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--modal-transparent);
}

.login-link {
  color: var(--basic-black);
}

.modal-login {
  display: none;
  position: absolute;
  top: 36px;
  right: 110px;
  width: 277px;
  padding: 22px 18px;
  z-index: 2;
}

.user-login:focus-within .modal-login,
.user-login:hover .modal-login {
  display: block;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    "user user"
    "passwd passwd"
    "submit links";
  column-gap: 20px;
}

.input-login {
  grid-area: user;
  margin-bottom: 19px;
}

.input-passwd {
  grid-area: passwd;
  margin-bottom: 19px;
}

.submit-btn {
  grid-area: submit;
  padding: 0 26px;
}

.modal-login_link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: links;
}

.input-login,
.input-passwd,
.input-search {
  border: 1px solid var(--input-border);
  font-size: 14px;
  line-height: 16px;
}

.login-link {
  display: flex;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  border-bottom: 1px solid var(--login-transparent);
}

.login-link:hover,
.login-link:focus {
  color: var(--basic-orange-extra);
  border-bottom: 1px solid var(--grown-transparent);
}

.modal-search {
  display: none;
  position: absolute;
  top: 36px;
  padding: 20px 15px;
  width: 341px;
  z-index: 2;
  right: 200px;
}

.input-search {
  width: 100%;
}

.user-search:focus .modal-search {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 1;
}

.overlay-hide {
  display: none;
}

.overlay-show {
  display: block;
}

.modal-subscribe {
  position: fixed;
  max-width: 477px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.modal-subscribe-hide {
  display: none;
}

.modal-subscribe-show {
  display: block;
}

.modal-subscribe-wrapper {
  position: relative;
  padding: 15px 26px 27px 24px;
  margin: auto;
}

.subscribe-title {
  margin: 0 0 21px;
  font-weight: 500;
  font-size: 24px;
  color: var(--basic-dark);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.subscribe-close:hover path,
.subscribe-close:active path {
  fill: var(--basket-orange);
}

.subscribe-input {
  width: 267px;
  margin-bottom: 17px;
  border-radius: 4px;
}

.input-about {
  resize: none;
  width: 428px;
  margin-bottom: 27px;
}

.modal-subscribe-btn {
  align-self: flex-end;
  margin: 0;
  padding: 0 24px;
}

.page-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 30px;
}

.breadcrumbs {
  max-width: 500px;
  padding-top: 16px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  padding-left: 7px;
  margin: 0 8px;
  width: 6px;
  height: 6px;
  background: url(../img/svg/breadcrumbs-arrow.svg) 0 0 no-repeat;
  border: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: var(--basic-orange-extra);
}

.breadcrumbs-current {
  color: var(--basic-white);
}

.main-filter {
  margin-bottom: 40px;
}

.filter-form {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.filter-group {
  padding: 0;
  border: none;
  margin-right: 15px;
  margin-bottom: 14px;
}

.filter-label {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 7px;
  margin-left: 16px;
}

.filter-select,
.filter-list,
.price-range {
  background: var(--white-very-transparent);
  border-radius: 20px;
  color: var(--basic-white);
  border: none;
  font-weight: 500;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.custom-select {
  width: 196px;
  padding: 9px 15px 9px;
  background: var(--white-very-transparent) url(../img/svg/select-arrow.svg)
    170px 50% no-repeat;
  appearance: none;
  cursor: pointer;
  user-select: none;
}

.custom-select:hover {
  color: var(--basic-black);
  background: var(--white-very-transparent)
    url(../img/svg/select-arrow-black.svg) 170px 50% no-repeat;
}

.custom-select:focus-within,
.custom-select:active {
  color: var(--basic-black);
  background: var(--basic-white) url(../img/svg/select-arrow-black.svg) 170px
    50% no-repeat;
}

.price-range {
  display: flex;
}

.price-control {
  position: relative;
  height: 36px;
  padding: 18px 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-control .scale {
  width: 176px;
  height: 2px;
  background-color: var(--price-range-scale-color);
}

.price-control .bar {
  width: 50%;
  height: 2px;
  background-color: var(--basic-extra-white);
}

.price-control .toggle {
  position: absolute;
  left: 0;
  padding: 0;
  width: 4px;
  height: 4px;
  background-color: var(--item-color);
  border: 10px solid var(--basic-white);
  box-shadow: 0 2px 0 0 var(--item-color);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.price-control .toggle:hover {
  transform: scale(1.1);
}

.price-control .toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background-color: var(--item-color);
  border-radius: 50%;
}

.price-control .toggle-min {
  left: 33px;
}

.price-control .toggle-max {
  left: 131px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.fat-list {
  padding: 10px 19px 7px 16px;
}

.filter-radio {
  margin-right: 23px;
}

.filter-radio:last-child {
  margin: 0;
}

.filter-radio label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 30px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  width: 22px;
  height: 22px;
  border: 3px solid var(--basic-white);
  border-radius: 50%;
  transition: all 0.1s;
  opacity: 0.8;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -23px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-white);
  border-radius: 50%;
  transition: all 0.1s;
  opacity: 0.8;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after {
  opacity: 1;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::after,
.filter-input-radio:disabled + label,
.filter-input-radio:checked:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.filler-list {
  padding: 9px 19px 9px 16px;
}

.filter-checkbox {
  margin-right: 20px;
}

.filter-checkbox:last-child {
  margin: 0;
}

.filter-checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 30px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  width: 24px;
  height: 20px;
  background: url(../img/svg/checkbox-off.svg) 0 0 no-repeat;
  transition: all 0.1s;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  width: 24px;
  height: 20px;
  background: url(../img/svg/checkbox-on.svg) 0 0 no-repeat;
  transition: all 0.1s;
  opacity: 0.8;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-checkbox:disabled + label,
.filter-input-checkbox:checked:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.filter-apply {
  justify-self: flex-end;
  align-self: flex-end;
  margin-bottom: 14px;
  padding: 7px 27px;
  max-height: 36px;
  background: var(--white-very-transparent);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 20px;
  color: var(--basic-white);
  font-weight: 500;
  line-height: 18px;
}

.filter-apply:hover,
.filter-apply:focus {
  background: var(--basic-white);
  color: var(--basic-black);
}

.filter-apply:active {
  box-shadow: inset 0px 2px 1px var(--shadow-active);
}

.modal-basket {
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  padding: 21px 14px 21px 20px;
  width: 539px;
  z-index: 2;
  transition: all 0.1s;
  line-height: 16px;
}

.modal-basket-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.modal-basket-item {
  display: grid;
  grid-template-columns: min-content max-content 246px repeat(2, max-content);
  margin-bottom: 20px;
}

.modal-basket-item:last-child {
  margin-bottom: 15px;
}

.modal-basket-cross {
  width: 11px;
  height: 11px;
  grid-column: 1 / 2;
  padding: 7px 0 0;
  margin: 0 10px 0 0;
  background: none;
  border: none;
}

.modal-basket-cross svg {
  cursor: pointer;
}

.modal-basket-cross:hover path {
  fill: var(--basket-orange);
}

.modal-basket-preview {
  grid-column: 2 / 3;
  margin-right: 14px;
  width: 100%;
  max-width: 33px;
  border-radius: 100%;
}

.modal-basket-link {
  grid-column: 3 / 4;
  padding-top: 9px;
  margin-right: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-black);
}

.modal-basket-link:hover,
.modal-basket-link:active {
  color: var(--basket-orange);
}

.modal-basket-weight {
  grid-column: 4 / 5;
  margin: 0 26px 0 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-black);
}

.basket-weight-price {
  color: var(--basket-light-grey);
}

.modal-basket-price {
  grid-column: 5 / 6;
  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-black);
}

.modal-basket-checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-top: 16px;
  border-top: 1px solid var(--basket-grey);
}

.modal-basket-total {
  margin: 0 0 14px;
  font-weight: 700;
  font-size: 15px;
  color: var(--basic-black);
}

.basket-btn {
  padding: 0 15px;
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 26px;
}
